* {
  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.arrow-page {
  margin: 5px;
  padding: 5px;
  background-color: rgb(4, 97, 4);
  color: white;
  border: 1px solid white;  
  border-radius: 3px;
  width: 15%;
}
.arrow-page:hover {
  background-color: white;
  color: rgb(4, 97, 4);
  border: 1px solid rgb(4, 97, 4);
  border-radius: 3px;
}

.arrow-left {
  margin-left: 5%;
}
.arrow-right {
  margin-right: 5%;
}

.wrapperPagination {
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; 
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 992px) {
   .wrapperPagination {
     flex-direction: row;
     justify-content: center;
   }
   .arrow-page {
     width: 50%;
   }
   .arrow-left {
     margin-right: 70%;   
   }
   .arrow-right {
    margin-left: 70%;   
  }


}
